{% extends 'header.html' %}

{% block content %}
<div>
<hr>
        <h2><a href="#">Transfers archive</a></h2>
      </div>
      <div class="nav">
        <h2>– TRANSFERS ARCHIVE –</h2>
        <table class="content-nav"></table>
      </div>
      <div class="content">
        <div class="stats">
          {%for tr in transfer%}
          <div>
            <a href="/{{ tr }}/18season/">Season {{tr}}</a>
          </div>
          {%endfor%}
          <div>
            <a href="{% url 'latest'%}">Latest-transfers</a>
          </div>
        </div>
      </div>
     {% endblock %}